<!DOCTYPE html>
<html>

<head>
  <title>Copypasterino Travel</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <img src="/img/Kappa.jpg"
     alt="Logo" id = "center_img">
  </header>
  <div id ="center_text">
    {{{body}}}
  </div>
</body>

</html>
