<!DOCTYPE html>
<html>

<head>
  <title>Copypasterino Express</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
</head>

<body>
  <header>
    <img src="/img/Kappa.jpg" alt="Greyface" class="responsive-img" id="center_img">
  </header>
  <div id="center_text">
    {{{body}}}
  </div>
  <footer class="page-footer grey lighten-1">
    <div class="footer-copyright">
      <div class="container">
        © 2015 Made with ❤ by <a href="https://github.com/evgenios" class="black-text" target="_blank"> Evgenios Kastanias</a>
      </div>
    </div>
  </footer>
</body>

</html>
