#center_img
  display block
  margin 0 auto


header
  display flex
  justify-content center
  align-items center

#center_text
  text-align center

.row
  display inline-block
  background #D6D6D6
  margin 15px 0
  padding 20px
