#center_img {
  height: 500px;
  width: 378px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#center_text {
  text-align: center;
}
.row {
  display: inline-block;
  max-width: 95%;
  background: #d6d6d6;
  margin: 15px 0;
  padding: 20px;
}
